<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css" />

    <title></title>
  </head>
  <body>


    {{#each skinData}}

<a href="/champions/{{this.name}}"> <h3> {{this.name}}</h3> <a>
      {{#each this.skins}}

     <img src= "{{this.skinImg}}">

      {{/each}}
    {{/each}}


  </body>
</html>
