<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css" />

    <title></title>
  </head>
  <body>

    <div class="homeSkinContainer">
      {{#each skinData}}
       <h3 ><a class="homeNames" href="/champions/{{this.name}}"> {{this.name}} <a></h3>
        {{#each this.skins}}
       <img class="homeImg" src= "{{this.skinImg}}">
        {{/each}}
      {{/each}}
    </div>

  </body>
</html>
