<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{champions}}
    {{champions.Jax.name}}

      {{#each champions }}
    <h3>{{@key}} {{this.image.full}}</h3>
    {{/each}}

  </body>
</html>
