<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{specificSkin}}
    <img src="{{specificSkin.skinImg}}">
    {{specificSkin.price}}

  </body>
</html>
